# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
Home/__pycache__
Home/aerocalc/__pycache__/
Home/Guidance/__pycache__/

*.pyc
*.cpython-37.pyc

.settings

Home/BadaAircraftPerformance/SYNONYM.NEW
Home/Bada381DataFiles/
Home/Bada381DataFiles/*.OPF
Home/Bada381DataFiles/*.APF
Home/Bada381DataFiles/*.PTD
Home/Bada381DataFiles/*.PTF

Home/ResultsFiles/*

Home/Airline/AirlineFleet.xls
Home/Airline/AirlineFleet.xlsx

Home/AirlineFleet/AirlineFleet.xls
Home/AirlineRoutes/RoutesAirportsDepartureArrival.xls

Home/Environment/WayPoints.xls
Home/Environment/WayPoints_old.xls


Home/AirlineRoutes/AirlineWayPoints.xls
Home/AirlineRoutes/RouteKATL2PHNL.xlsx
Home/AirlineRoutes/*.xls
Home/AirlineFleet/AirlineFleetExtendedData.xls
Home/AirlineFleet/AirlineFleetExtendedData_old.xlsx
Home/Environment/WayPoints.xls
Home/Environment/WayPoints.xls
Home/Environment/WayPoints.xls
Home/AirlineCosts/AirlineAircraftRoutesCosts.xls
Home/AirlineWayPoints/WayPoints.xls
Home/Environment/WayPoints.xls
